{% extends "layout.html" %}

{% block mainContent %}
  <p>About our Team</p>
  
  
  <div align="center">
      
          <b><SPAN ID="sparkling-goldfish-name" class="sparkling-goldfish">Raul Madriz</b>
          <img id="sparkling-goldfish-headshot" src="SparklingGoldfish.jpg" class="resize" alt="Sparkling-GoldFish"></SPAN>&nbsp;&nbsp;&nbsp;
          <b><SPAN ID="odd-sandpiper-name" class="odd-sandpiper">Ernesto Castillo</b>
          <img id="odd-sandpiper-headshot" src="OddSandPiper.jpg" class="resize" alt="Odd-SandPiper"></SPAN>&nbsp;&nbsp;&nbsp;
          <b><SPAN ID="silly-fish-name" class="silly-fish">Carlos Romo</b>
          <img id="silly-fish-headshot" src="SillyFish.jpg" class="resize" alt="Silly-Fish"></SPAN>&nbsp;&nbsp;&nbsp;
          <b><SPAN ID="fair-tiger-name" class="fair-tiger">Ernesto Reyes</b>
          <img id="fair-tiger-headshot" src="FairTiger.jpg" class="resize" alt="Fair-Tiger"></SPAN>
          <br>
       
  </div>
{% endblock %}
